<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.boot1.mapper.UserMapper">

	<!-- 开启二级缓存 -->
	<!--cache type="org.mybatis.caches.ehcache.LoggingEhcache"/ -->

	<resultMap type="com.study.boot1.bean.User" id="BaseResultMap">
			<id column="id" property="id" jdbcType="INTEGER"/>
			<result column="name" property="name" jdbcType="VARCHAR"/>
			<result column="pass" property="pass" jdbcType="VARCHAR"/>
	</resultMap>


	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id,
		name,
		pass
	</sql>

    <select id="getByName"  parameterType="String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/> 
         from user where name=#{name}
	</select>

    <insert id="insertUser" parameterType="com.study.boot1.bean.User" useGeneratedKeys="true" keyProperty="id">
		insert into user(name,pass) values (#{name},#{pass})
   </insert>

    
	<delete id="delectUserByID">
	  delete from User where id = #{uid}
	</delete>
</mapper>